/* Custom table styling */
.custom-table1 {
    width: 35%;
    margin: 20px auto auto auto; /*top right bottom left*/
    border-collapse: collapse;
    /*border-collapse: separate;*/
    border: none;
    background-color: transparent;
    /*
    border-spacing: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    */
    /*background-color: #fafafa;*/
}

.custom-table1 thead {
    background-color: transparent;
    border: none;
    /*background: #4f4f4f;
    color: #fff;*/
    /*background-color: #2ecc71;
    color: white;*/
}

.custom-table1 tr, .custom-table1 th, .custom-table1 td {
    background-color: transparent;
    border: none;
}

/*
.custom-table1 tr {
    border: none;
    *border-top: solid 1px #eee;
}
*/


/*
.custom-table1 th {
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
}


.custom-table1 td {
    padding: 0.5em 1em 0.5em 1em;
}
*/


.custom-table1 tr:first-child {
    border: none;
    color: #3e3e3e;
    border-top: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.custom-table1 tr:first-child td {
    padding-bottom: 0.5em;
}

.custom-table1 tr:nth-child(n+2) {
    color: #3e3e3e;
    border: none;
    background-color: transparent;
    font-size: 1.0em;
    /*font-weight: bold;*/
    /*background-color: #f1f1f1;*/
}

.custom-table1 tr:hover {
    /*
    background-color: #e0e0e0;
    */
}

.custom-table1 caption {
    /*
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    */
}

/* Custom container */
.custom-container1 {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: none;
    /*border: 1px solid #ccc;*/
    text-align: left;
    /*background-color: white; transparent;*/
    background-color: transparent;
    box-shadow: none;

    font-family: initial; /* Reset the font family */
    font-size: 1.2em;
    line-height: 1.75em;
    color: black;


}



/* Custom ordered list class */
.custom-ol1 {
    counter-reset: custom-counter;
    list-style: none;
    padding-left: 40px;
}

.custom-ol1 li {
    counter-increment: custom-counter;
    margin-bottom: 30px;
}

/* Add custom bold number before each list item */
.custom-ol1 li::before {
    content: counter(custom-counter) ". "; /* Display the counter with a period */
    font-weight: bold; /* Make the number bold */
    color: black; /* Set color for the number */
}



/* Container for the logos */
.logo-row {
    display: flex; /* Use Flexbox to align logos horizontally */
    justify-content: space-around; /* Evenly space logos */
    align-items: flex-start; /* Vertically align logos */
    gap: 20px;
}

/* Style for each logo container */
.logo-container {
    /*background-color: white;*/ /* Set background color to white */
    background-color: transparent !important;
    margin: 0;
    padding: 0; /* Add padding around the image */
    border-radius: 5px; /* Optional: Rounded corners */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/ /* Optional: Light shadow */
}

/* Ensure the logos have the same size */
.logo-row img {
    width: auto;
    height: 50px;
    /*
    width: 100px;
    height: auto;
     */
}

/* Optional: Add padding between the logos */
.logo-row > div {
    padding: 10px;
}